<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

<!--插入订单数据-->
<!--返回主键值-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders (
            number, status, user_id, address_book_id, order_time,
            pay_method, pay_status, amount, remark, phone,
            address, consignee, estimated_delivery_time, delivery_status,
            pack_amount, tableware_number, tableware_status
        ) values (
                     #{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime},
                     #{payMethod}, #{payStatus}, #{amount}, #{remark}, #{phone},
                     #{address}, #{consignee}, #{estimatedDeliveryTime}, #{deliveryStatus},
                     #{packAmount}, #{tablewareNumber}, #{tablewareStatus}
                 )
    </insert>
    <update id="update">
        update orders
        <set>
            <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
            <if test="rejectionReason != null">rejection_reason = #{rejectionReason},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="payMethod != null">pay_method = #{payMethod},</if>
            <if test="checkoutTime != null">checkout_time = #{checkoutTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deliveryTime != null">delivery_time = #{deliveryTime},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
            <if test="estimatedDeliveryTime != null">estimated_delivery_time = #{estimatedDeliveryTime},</if>
        </set>
        where id = #{id}
    </update>


    <select id="getByNumber" resultType="com.sky.entity.Orders">
        select * from orders where number = #{number}
    </select>

    <select id="pageQuery" resultType="com.sky.entity.Orders">
        select o.* from orders o
        <where>
            <if test="number != null and number != ''">
                and o.number like concat('%', #{number}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and o.phone like concat('%', #{phone}, '%')
            </if>
            <if test="userId != null">
                and o.user_id = #{userId}
            </if>
            <if test="status != null">
                and o.status = #{status}
            </if>
            <if test="beginTime != null">
                and o.order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and o.order_time &lt;= #{endTime}
            </if>
        </where>
        order by o.order_time desc
    </select>
    <select id="getById" resultType="com.sky.entity.Orders">
        select * from orders where id = #{id}
    </select>
    <!--查询指定日期营业额-->
    <select id="getTurnoverByDate" resultType="java.lang.Double">
            select sum(amount) from orders
            where status=5
            and order_time &gt;= #{date}
            and order_time &lt; #{date} + interval 1 day
    </select>
    <select id="getUserTotalByDate" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT user_id)
        FROM orders
        WHERE order_time &lt; DATE_ADD(#{date}, INTERVAL 1 DAY)
    </select>
    <select id="getNewUserByDate" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT user_id)
        FROM orders
        WHERE order_time >= #{date}
        AND order_time &lt; DATE_ADD(#{date}, INTERVAL 1 DAY)
        AND user_id NOT IN (
        SELECT DISTINCT user_id
        FROM orders
        WHERE order_time &lt; #{date}
        )

    </select>
<!--    每日订单数-->
    <select id="getOrderCountByDate" resultType="java.lang.Integer">
            SELECT COUNT(id) FROM orders
            WHERE order_time &gt;= #{date}
            AND order_time &lt; DATE_ADD(#{date}, INTERVAL 1 DAY)
    </select>

    <!--    有效订单数-->
    <select id="getValidOrderCountByDate" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM orders
        WHERE order_time &gt;= #{date}
        AND order_time &lt; DATE_ADD(#{date}, INTERVAL 1 DAY)
        AND status = 5
    </select>
    <select id="salesTop10Report" resultType="com.sky.dto.GoodsSalesDTO">
        SELECT od.name, SUM(od.number) as number
        FROM order_detail od
                 LEFT JOIN orders o ON od.order_id = o.id
        WHERE o.status = 5
          AND o.order_time &gt;= #{begin}
          AND o.order_time &lt; DATE_ADD(#{end}, INTERVAL 1 DAY)
        GROUP BY od.name
        ORDER BY number DESC
        LIMIT 10
    </select>

</mapper>
